* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

html,
body {
  max-width: 464px;
  overflow-x: hidden;
}

.MuiCardContent-root {
  padding: 0 !important;
}

.MuiCardContent-root:last-child {
  padding-bottom: 0 !important;
}

.MuiCard-root {
  box-shadow: none !important;
  margin: 0 !important;
}

.MuiAccordion-root {
  margin: 0 !important;
  padding: 0 !important;
  box-shadow: none !important;
}

.MuiAccordionSummary-root {
  margin: 0 !important;
  padding: 5px 0 !important;
}

.MuiAccordionDetails-root {
  margin: 0 !important;
  padding: 10px 0 !important;
}

/* .MuiContainer-root {
  padding: 0 !important;
  margin: 0 !important;
} */
